<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">This is from the footer</p>
    </div>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const getTitle = "<%= title %>"
</script>
<script src="/javascripts/appclient.js"></script>
</body>

</html>
