<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">®Dining Philosophers, 2022</p>
    </div>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script>
    const getTitle = "<%= title %>"
</script>
<script src="/javascripts/appclient.js"></script>
</body>

</html>
