<%- include("partials/header") %>
<main>
  <div class="container my-5">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-start rounded-3 border shadow-lg"
    >
      <h1 class="display-4 fw-bold lh-1 pb-5 offset-1">About me</h1>
      <div class="col-lg-7 mx-auto">
        <p class="lead mb-lg-6 lh-lg">
          My name is Wonyoung Chung.<br />
          I was born and lived most of my life in Korea, so the environment of
          Korea shaped most of my identity.<br />
          Living as an international student myself, immigrant, global
          citizenship, and cosmopolitanism are the keywords mainly concerning to
          me.<br />
          <br />
          I worked in software companies and had some chances to work with
          people from other countries, including Cambodia, Canada and the US. It
          was a challenging situation for all of us to work together as a
          team.<br />
          Personal exchange is everywhere in contemporary society, except in
          Korean workplaces. The managers often had difficulties ordering proper
          work tasks and excluded the foreign staff from urgent tasks, even when
          they had enough capability.<br />
          <br />
          I wanted to overcome the situation and learn to work and live with
          people worldwide. I also wanted my children to be better than me. So,
          we came to Toronto to learn how to become global citizens.<br />
          <br />
          You can download my resume
          <a href="/pdf/resume-wonyoung.pdf" target="_blank">here</a>.<br />
        </p>
      </div>
      <div class="col-lg-3 overflow-hidden shadow-lg p-3 ps-2">
        <img
          src="/images/me.jpg"
          class="rounded-circle"
          alt="me"
          height="200"
        />
      </div>
    </div>
  </div>
</main>
<%- include("partials/footer") %>
