<%- include("partials/header") %>
<main>
  <div class="container my-5">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
    >
      <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
        <h2>Contact</h2>
        <p class="lead">
          You can contact me via
          <a href="mailto: demoronator@gmail.com">email</a>, my
          <a href="https://www.linkedin.com/in/demoronator/">LinkedIn</a>
          profile, or alternatively, you can fill out the form below.
        </p>
        <div class="row g-5">
          <div class="col-md-8">
            <h4 class="mb-3">Contact form</h4>
            <form class="needs-validation" method="POST">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">First name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    required
                  />
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Last name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    required
                  />
                </div>

                <div class="col-12">
                  <label for="phone" class="form-label">Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                  />
                </div>

                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required>
                </div>

                <div class="col-12">
                  <label for="message" class="form-label">Message</label>
                  <textarea
                    class="form-control"
                    id="message"
                    name="message"
                    required
                  ></textarea>
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">
                  Send
                </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("partials/footer") %>
