<%- include("partials/header") %>
<main>
  <div class="container my-5">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
    >
      <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
        <div class="row featurette">
          <div class="col-md-8 order-md-1">
            <h2 class="featurette-heading">FORCS</h2>
            <p class="lead">
              Feb 2022 - Present<br />
              <a href="https://www.forcs.com/en/" target="_blank">FORCS</a> is
              the leading Enterprise e-form and Reporting solutions provider in
              Korea.<br />
              Partnering with the FORCS R&D team, I am researching and
              developing diverse new technologies, including electronic
              contracts in the metaverse and gaze tracking interface.<br />
              Python, Typescript, C#, MediaPipe, scikit-learn, Unity
            </p>
          </div>
          <div class="col-md-4 my-3">
            <img
              src="/images/projects/FORCS_CI_EN_Original.png"
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              alt="FORCS"
            />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-8">
            <h2 class="featurette-heading">ARQUES</h2>
            <p class="lead">
              Dec 2020 - Feb 2022<br />
              Arques is a tech-fin startup from Nexon company. As a senior
              software engineer, I designed and developed crypto trading
              platforms for internal trading strategies.<br />
              Golang, Python, Google Cloud Platform, PostgreSQL, MongoDB
            </p>
          </div>
          <div class="col-md-4">
            <img
              src="/images/projects/arques.png"
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              alt="Arques"
            />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-8 order-md-1">
            <h2 class="featurette-heading">Nexon</h2>
            <p class="lead">
              May 2017 - Dec 2020<br />
              Nexon is one of the world's ten largest interactive game companies
              based on market capitalization.<br />
              I developed, launched, and serviced
              <a href="https://youtu.be/mJWp4RuIrOg">Crazy Arcade BnB M</a>,
              which recorded over ten million downloads globally.<br />
              C#, Unity, Jenkins, Firebase
            </p>
          </div>
          <div class="col-md-4">
            <img
              src="/images/projects/nexon.png"
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              alt="FORCS"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("partials/footer") %>
